# .github/workflows/continuous_integration.yml
name: CI
on: [pull_request]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "requirements.txt"

      - name: Upgrade pip
        run: python -m pip install -U pip

      - name: Install dependencies
        run: python -m pip install -r requirements.txt

      - name: Run unit tests
        run: python -m unittest discover -s tests -v
